<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <form th:action="@{/shelf/dodaj}" method="post">
        <input type="hidden" name="comicId" th:value="${comic.id}">
        <button type="submit">Dodaj u policu</button>
    </form>

    <h1 th:text="${comic.naziv}"></h1>

    <img th:src="${comic.slika}" width="250">

    <p>
        Autor:
        <span th:text="${comic.autor}"></span>
    </p>

    <p>
        Godina:
        <span th:text="${comic.releaseYear}"></span>
    </p>

    <p>
        Tip:
        <span th:text="${comic.tip}"></span>
    </p>

    <a th:href="@{/}">Početna</a> |
    <a th:href="@{/comic/sve}">Svi naslovi</a> |
    <a th:href="@{/pretraga}">Nova pretraga</a>

</body>
</html>