<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comic & Manga Polica</title>
</head>
<body>
    <h1>Comic & Manga Polica</h1>

    <p>
        Servis za praćenje čitanja i dodavanja recenzija sripovima i mangama.
    </p>

    <nav>
        <ul>
            <li><a th:href="@{/shelf}">Moja polica</a></li>
            <li><a th:href="@{/comic/sve}">Svi naslovi</a></li>
            <li><a th:href="@{/pretraga}">Pretraži novi naslov</a></li>
        </ul>
    </nav>
</body>
</html>